*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

/* Navbar */

nav{
    background:#111;
    padding:15px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* Logo */

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

/* Menu */

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin:0 20px;
}

/* Links */

nav ul li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    position:relative;
    padding:5px;
    transition:0.3s;
}

/* Cool underline animation */

nav ul li a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;
    width:0%;
    height:2px;
    background:#00ffff;
    transition:0.3s;
}

nav ul li a:hover::after{
    width:100%;
}

/* Hover color */

nav ul li a:hover{
    color:#00ffff;
}