*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

nav{
    background:#111;
    padding:15px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin:0 20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    position:relative;
    padding:5px;
    transition:0.3s;
}

nav ul li a:hover::after{
    width:100%;
}

nav ul li a:hover{
    color:#00ffff;
}

@media (max-width:768px){

    nav{
        padding:20px 20px;
        flex-direction:column;
        align-items:flex-start;
    }

    nav ul{
        flex-direction:column;
        width:100%;
        margin-top:10px;
    }

    nav ul li a{
        font-size:16px;
    }

}